footer.footer
	.footer__left-col
		p Creafresh Design Agency, 18000 Ukraine, Cherkassy, Il’ina st, ap 245 - 23
		p +38(063) 374 44 62
			a(href="mailto:info@creafresh.com")  info@creafresh.com
	.footer__right-col
		ul.social-list
			li
				a(href="#") Instagram
			li
				a(href="#") Facebook
		p.copyright © CreaFresh 2015-2018. All rights reserved.