header.header
	.top-header
		a.top-header__logo(href="#")
			span.top-header__logo-sm
				img(src="images/svg/logo.svg")
			span.top-header__logo-hover
				img(src="images/svg/logo-hover.svg")
		a.top-header__menu-opener.js-menu-opener(href="#")
			svg(xmlns='http://www.w3.org/2000/svg' width='40' height='20')
				path(fill-rule='evenodd' d='M1.25 2.5h37.5a1.25 1.25 0 1 0 0-2.5H1.25a1.25 1.25 0 1 0 0 2.5zm37.5 6.252H1.25a1.25 1.25 0 1 0 0 2.5h37.5a1.25 1.25 0 1 0 0-2.501zm0 8.747h-25a1.251 1.251 0 0 0 0 2.5h25a1.251 1.251 0 0 0 0-2.499z')
	.nav
		.nav__wrap
			.nav__body
				ul.nav__menu
					- var menu = ["About Us", "Works", "Blog", "Contacts"];
					- for (var i = 0; i < menu.length; i++)
						li
							a(href="#")=menu[i]
				ul.nav__lang-list
					li
						a(href="#") RU
					li
						a(href="#") ENG
				a.home-link(href="#")
					svg(xmlns='http://www.w3.org/2000/svg' width='46' height='35')
						path(fill-rule='evenodd' d='M8 18.36v13.96a2.506 2.506 0 0 0 2.4 2.62h2.47a.96.96 0 0 0 0-1.92h-2.4a.643.643 0 0 1-.51-.7v-13L22.98 8.8l13.08 10.52v13.07a.658.658 0 0 1-.51.7H21.4a.955.955 0 0 0 0 1.91h14.15a2.5 2.5 0 0 0 2.4-2.61V18.36L22.98 6.38zm37.6-.25L22.98 0 .36 18.11a.934.934 0 0 0-.13 1.34.915.915 0 0 0 1.33.12L23.04 2.42l21.49 17.15a.945.945 0 0 0 .56.19.96.96 0 0 0 .76-.38.937.937 0 0 0-.25-1.27z')
			include footer