header.header
	.top-header
		a.top-header__logo(href="#")
			span.top-header__logo-sm
				img(src="images/svg/logo.svg")
			span.top-header__logo-hover
				img(src="images/svg/logo-hover.svg")
		a.top-header__menu-opener(href="#")
			svg(xmlns='http://www.w3.org/2000/svg' width='40' height='20')
				path(fill-rule='evenodd' d='M1.25 2.5h37.5a1.25 1.25 0 1 0 0-2.5H1.25a1.25 1.25 0 1 0 0 2.5zm37.5 6.252H1.25a1.25 1.25 0 1 0 0 2.5h37.5a1.25 1.25 0 1 0 0-2.501zm0 8.747h-25a1.251 1.251 0 0 0 0 2.5h25a1.251 1.251 0 0 0 0-2.499z')